/* Main Styles */
 body {
    background-color: tan;
    font-family: Helvetica, Arial;
    font-size: 27px;
    font-weight: bold;
    line-height: 5.25em; 
 }  
         .main_container  {
           width: 100%;
           display: flex;
           justify-content: center;
  }  
         .title_div {
           text-align: center;
           background-color: tan;
           margin: 0 1%;
     }       
        .container_one {
           width: 30%;
           margin: 0 1%; 
           background-color:tan;
        }                    

        .container_two {
           width: 30%;
           margin: 0 1%;
           background-color: tan;
        }    
        
        
 /* Media Queries */
  Smartphones portrait and landscape 
 @media screen and (-webkit-device-pixel-ratio: 1.5), screen and (resolution: 144dpi) {
  / styles */
 }
   

 


            
            
        


    
    
       
    
     





    
        

   









    
